<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Stackoverflow-clone</title>
  <link rel="stylesheet" href="/css/application.css">
</head>
<body>
  <div class="container">
  <%= yield %>
  </div>

  <footer class="row col-md-8 col-md-offset-2">
    <p class="footer--copyright">Copyright 2016</p>
    <p class="footer--group-one">Group 1</p>
  </footer>
  <!-- javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
