<h1>Create new contact</h1>
<form action='/contacts' method='POST'>
  <label for='first_name'>First Name</label>
  <input id="first_name" type='text' name="contact[first+name]" placeholder="bob"><br>

  <label for='last_name'>Last Name</label>
  <input id="last_name" type='text' name="contact[last_name]" placeholder="last"><br>

  <label for='email'>Email</label>
  <input id="email" type='email' name="contact[email]" placeholder="bobl@gmail.com"><br>

  <label for='phone'>Phone</label>
  <input id="phone" type='tel' name="contact[phone]" placeholder="123-456-7890"><br>

  <input type='Submit' />
</form>
